@import "common";

ion-segment {
  display: flex;
  min-height: 40px;
  color: $color-white;
  //justify-content: space-evenly;
  &.scrollHorizontal {
    overflow-x: scroll;
  }

  ion-segment-button {
    text-transform: none;
    //display: grid;
    //flex-direction: column;
    //background: $background-color;

    &.segment-button-checked {
      --ion-background-color: var(--ion-color-primary);

      ion-label {
        //color: $color-white;
      }
    }
  }
}

ion-slide {
  width: 100%;
  height: auto;
  min-height: 200px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}


.fab-button {
  margin-top: 14px;
  ion-icon {
    color: greenyellow;
  }
}

.videoPlayerContainer {
  min-height: 484px;
  width: 100% !important;
  height: auto !important;
}

.videoPlayerControls {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 0;
  bottom: 50px;
  flex: 1;
  text-align: end;
}

.open-door-day {
  min-width: 30px;
}

.open-door-events-list {
  padding: 4px;
  overflow-y: scroll;
  height: 250px;

  ion-button {
    border-bottom: 1px solid $color-border;

    ion-row {
      //border-bottom: 1px solid $color-border;
    }
  }
}

.padding-top-enroll {
  padding-top: 6px;
}

.enroll-button {
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  color: $color-white;
  background-color: var(--ion-color-success);
}

.text-value {
  font-family: $font-family;
  font-size: $font-size-normal;
  color: $color-gray-dark;
}
