<ion-content [fullscreen]="true">

  <ion-grid class="ion-padding full-width full-height">

    <mx-brand-logo-title class="flex-auto" [title]="'LOGIN_TO_ACCOUNT' | translate"></mx-brand-logo-title>


    <ion-row>
      <ion-col size="12">
        <mx-text [title]="'VERIFY_YOUR_PHONE_NUMBER' | translate" [type]="'title'">
        </mx-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="4" offset-md="4">
        <ion-row>
          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp1
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp2, '')"
            >
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp2
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp3, otp1)"
            >
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp3
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp4, otp2)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp4
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp5, otp3)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp5
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp6, otp4)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp6
              required="true"
              maxLength="1"
              (keyup)="otpController($event, '', otp5)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="12" class="ion-text-center ion-padding-top">
            <ion-button
              routerLink="/tabs"
              size="large"
              expand="block">
              {{'SUBMIT' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
