@import "common";

ion-content {
  //--background: url(../../../../assets/images/background.png) no-repeat center/cover fixed;
}

.fields-wrapper {
  min-height: 30%;
  justify-content: flex-end;
}

.input-border {
  border-bottom: 1px solid #adadad;
  min-height: 70px;
  width: 80%;
}

mx-brand-logo-title {
  min-height: 39vw;
}
