<ion-content [fullscreen]="true">

  <ion-grid class="ion-padding full-width full-height flex-column">

    <mx-brand-logo-title class="" [title]="'LOGIN_TO_ACCOUNT' | translate"></mx-brand-logo-title>

    <ion-row *ngIf="loginType == 1" class="fields-wrapper flex-column ion-padding-top ion-padding-bottom">
      <mx-phone-input class=""></mx-phone-input>
    </ion-row>

    <ion-row *ngIf="loginType == 2" class="fields-wrapper flex-column ion-padding-top ion-padding-bottom">
      <ion-row class="flex-row">
        <ion-col class="flex-auto ion-padding-top" size="12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ "EMAIL_ADDRESS" | translate }}</mat-label>
            <input matInput placeholder="{{'EMAIL_ADDRESS' | translate}}"/>
          </mat-form-field>
        </ion-col>
        <ion-col class="flex-auto" size="12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ "PASSWORD" | translate }}</mat-label>
            <input placeholder="{{'PASSWORD' | translate}}" [type]="showPassword ? 'text' : 'password'" matInput/>
            <mat-icon *ngIf="!showPassword" (click)="toggleShow()" matSuffix></mat-icon>
            <mat-icon *ngIf="showPassword" (click)="toggleShow()" matSuffix></mat-icon>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-row>

    <ng-container class="" [ngTemplateOutlet]="loginButton"></ng-container>

    <ion-row>
      <ion-col class="flex-auto ion-text-center ion-padding-top" size="12">
        <mx-text [title]="'OR' | translate" [type]="'title'"></mx-text>
      </ion-col>
      <ion-col class="ion-text-center ion-padding-top" size="12">
        <ion-button size="small" fill="outline" (click)="changeTypeLogin()">
          <mx-text
            [title]="(loginType === 1 ? 'SIGN_IN_WITH_EMAIL' : 'SIGN_IN_WITH_PHONE_NUMBER') | translate"
            [type]="'description'"></mx-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-screen flex-row">
      <ng-container [ngTemplateOutlet]="createAnAccount"></ng-container>
    </ion-row>
  </ion-grid>
</ion-content>


<ng-template #loginButton>
  <ion-button expand="block" size="large" routerLink="/auth/otp">
    {{'LOGIN' | translate}}
  </ion-button>
</ng-template>

<ng-template #createAnAccount>
  <ion-col size="12" class="ion-text-center">
    <mx-text [title]="'DONT_HAVE_AN_ACCOUNT' | translate" [type]="'description'"></mx-text>
    <a routerLink="/auth/sign-up" class="">
      <mx-text [title]="'CREATE_AN_ACCOUNT' | translate" [type]="'description'"></mx-text>
    </a>
  </ion-col>
</ng-template>
