@import "common";

ion-content {
  --background: url(../../../../assets/images/background.png) no-repeat center/cover fixed;
}

.input-border {
  border: 1px solid #000000;
  border-radius: 10px;
}

a {
  color: #0042ed;
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.fields-wrapper {
  min-height: 30%;
  justify-content: flex-end;
}
