<ion-content [fullscreen]="true" dir="{{languageDirection}}">
  <img alt="house-frame-top" class="house-frame-top" src="{{IMAGE_PATH + 'house.svg'}}"/>
  <img alt="house-frame-bottom" class="house-frame-bottom" src="{{IMAGE_PATH + 'house.svg'}}"/>

  <ion-grid class="ion-padding full-width full-height flex-column">

    <ion-row class="flex-column ion-justify-content-end login-header">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <mx-text [title]="'LOGIN' | translate" [type]="'header'"></mx-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <mx-text [title]="'SIGN_IN_TO_ACCESS_ACCOUNT' | translate" [type]="'description'"></mx-text>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="fields-wrapper-phone flex-column">
      <div class="input-with-icon flex-auto ion-justify-content-center flex-row">
        <img class="input-login-icon" src="{{IMAGE_PATH + 'login-field.svg'}}" alt="icon-left"/>
        <ion-input class="circle-input" placeholder="{{'EMAIL_ADDRESS_OR_PHONE_NUMBER' | translate}}"></ion-input>
      </div>
      <!--      <mx-phone-input class="ion-margin-bottom ion-margin-top"></mx-phone-input>-->
    </ion-row>

    <ion-row dir="{{languageDirection}}" *ngIf="loginType == 2"
             class="fields-wrapper-email flex-column ion-padding-top">
      <ion-row class="flex-row">
        <ion-col class="flex-auto ion-padding-top" size="12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ "EMAIL_ADDRESS" | translate }}</mat-label>
            <input matInput placeholder="{{'EMAIL_ADDRESS' | translate}}"/>
          </mat-form-field>
        </ion-col>
        <ion-col class="flex-auto" size="12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ "PASSWORD" | translate }}</mat-label>
            <input placeholder="{{'PASSWORD' | translate}}" [type]="showPassword ? 'text' : 'password'" matInput/>
            <mat-icon *ngIf="!showPassword" (click)="toggleShow()" matSuffix></mat-icon>
            <mat-icon *ngIf="showPassword" (click)="toggleShow()" matSuffix></mat-icon>
          </mat-form-field>
        </ion-col>
        <ion-col size="12" class="flex-auto ion-text-right forgot-pass">
          <a fill="none" routerLink="/auth/sign-up">
            <mx-text [title]="'FORGOT_YOUR_PASS' | translate" [type]="'link'"></mx-text>
          </a>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row>
      <ion-col class="flex-auto ion-justify-content-center flex-row" size="12">
        <ng-container [ngTemplateOutlet]="loginButton"></ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--      <ion-col class="flex-auto ion-text-center or-text-height or-text" size="12">-->
      <!--        <mx-text class="bold" [title]="'OR' | translate" [type]="'label'"></mx-text>-->
      <!--      </ion-col>-->
      <!--      <ion-col class="ion-text-center" size="12">-->
      <!--        <a fill="none" (click)="changeTypeLogin()">-->
      <!--          <mx-text-->
      <!--            [title]="(loginType === 1 ? 'SIGN_IN_WITH_EMAIL' : 'SIGN_IN_WITH_PHONE_NUMBER') | translate"-->
      <!--            [type]="'link'"></mx-text>-->
      <!--        </a>-->
      <!--      </ion-col>-->
    </ion-row>

    <ion-row class="bottom-screen ion-padding flex-row">
      <ng-container [ngTemplateOutlet]="createAnAccount"></ng-container>
    </ion-row>
  </ion-grid>
</ion-content>


<ng-template #loginButton>
  <mx-login-button routerLink="/auth/otp"></mx-login-button>
</ng-template>

<ng-template #createAnAccount>
  <ion-col size="12" class="ion-text-center">
    <mx-text [title]="'DONT_HAVE_AN_ACCOUNT' | translate" [type]="'description'"></mx-text>
    <a fill="none" routerLink="/auth/sign-up" class="">
      <mx-text [title]="'TO_REGISTER' | translate" [type]="'link'"></mx-text>
    </a>
  </ion-col>
</ng-template>
