<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" (click)="dismiss()">
        <ion-icon color="dark" name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'USER_AGREEMENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin" dir="{{langDir}}">
  <h1 class="ion-text-center">{{'TERMS_OF_USE' | translate}}</h1>
  <div class="text-box">
    {{'PLEASE_READ_CAREFULLY' | translate}}
  </div>

  <h3>{{'1_SERVICE_OFFER_TITLE' | translate}}</h3>
  <div class="text-box">
    {{'SERVICE_OFFER' | translate}}
  </div>

  <h3>{{'2_USER_ACCOUNTS_PASS_FEED_TITLE' | translate}}</h3>
  <div class="text-box">
    {{'USER_ACCOUNTS_PASS_FEED_A' | translate}}
    <br><br>
    {{'USER_ACCOUNTS_PASS_FEED_B' | translate}}
    <br><br>
    {{'USER_ACCOUNTS_PASS_FEED_C' | translate}}
  </div>

  <h3>{{'3_SITE_CONTENT_TITLE' | translate}}</h3>
  <div class="text-box">
    {{'SITE_CONTENT_TITLE_A' | translate}}
    <br><br>
    {{'SITE_CONTENT_TITLE_B' | translate}}
    <br><br>
    {{'SITE_CONTENT_TITLE_C' | translate}}
  </div>

  <h3>{{'4_USER_OF_THE_SERVICE' | translate}}</h3>
  <div class="text-box">
    {{'USER_OF_THE_SERVICE_A' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_B' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_C' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_D' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_E' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_F' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_G' | translate}}
    <br><br>
    {{'USER_OF_THE_SERVICE_H' | translate}}
  </div>

  <h3>{{'4_LINKED_WEBS_TITLE' | translate}}</h3>
  <div class="text-box">
    {{'LINKED_WEBS' | translate}}
  </div>


  <h3>{{'5_LOCATION_OF_THE_SITE_TITLE' | translate}}</h3>
  <div class="text-box">
    {{'LOCATION_OF_THE_SITE_A' | translate}}
    <br><br>
    {{'LOCATION_OF_THE_SITE_B' | translate}}
    <br><br>
    {{'LOCATION_OF_THE_SITE_C' | translate}}
    <br><br>
    {{'LOCATION_OF_THE_SITE_D' | translate}}
  </div>
</ion-content>
