@import "./src/global";

.text {
  font-family: $font-family;
  color: white;

  &.header {
    font-weight: $font-weight-600;
    font-size: $font-size-30;
  }

  &.sectionTitle {
    font-size: $font-size-18;
    font-weight: $font-weight-500;
  }

  &.title {
    font-size: $font-size-18;
    font-weight: $font-weight-600;
  }

  &.description {
    font-weight: 400;
    font-size: $font-size-normal;
    flex: 1;
  }

  &.link {
    font-weight: 500;
    color: var(--ion-color-secondary);
    font-size: $font-size-normal;
    flex: 1;
  }

  &.segment {
    font-size: 2vw;
  }

  &.button,
  &.label {
    font-size: $font-size-button;
    font-weight: $font-weight-500;
  }
}



