@import "common";

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &.margin {
    //margin-top: 56px;
    //margin-bottom: 56px;
  }
}

.list-with-padding {
  padding-top: 60px;
}

.text-value {
  padding-left: 6px;
  padding-right: 6px;
  //padding-top: 5px;
}

.image-icon {
  height: 18px;
  width: 18px;
}

.image-icon-area {
  height: 20px;
  width: 20px;
}

.image-icon-bedroom {
  height: 22px;
  width: 22px;
}

.image-icon-floor {
  height: 16px;
  width: 16px;
}

.image-nextTo {
  height: 22px;
  width: 22px;
  padding-right: 6px;
}

.text-nextTo {
  padding-left: 1px;
  padding-top: 8px;
}


.nextToSection {

  padding-top: 4px;

  .nextToItem {
    padding: 2px;
    border-radius: 6px;
  }
}

.trending {
  font-size: 24px;
}

.property-image {
  width: 11vh;
  height: 11vh;
  object-fit: cover;
}

.icon {
  padding: 10px;
}

ion-thumbnail {
  width: calc(100% / 4);
  height: auto;

  ion-img {
    width: inherit;
  }
}

.height-3vh {
  //height: 3vh;
}

.ion-row {

  &.category {
    //position: absolute;
    //top: 14px;
    //margin-left: $padding-right-element;
    //width: fit-content;
    white-space: nowrap;
    //background: $color-black;
    //color: $color-white;
  }

  &.address {
    //position: absolute;
    //top: 10px;
    //background: $color-black;
    //color: $color-white;
    white-space: nowrap;
  }

  &.price {
    position: absolute;
    top: 10px;
    right: 28px;
    display: flex;
    align-content: center;
    //background: $color-black;
    //color: $color-white;
  }
}

.address {
  font-size: $font-size-tiny;
  color: $color-gray-dark;
  font-family: $font-family;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.price {
  font-size: $font-size-normal;
  font-weight: $font-weight-600;
  font-family: $font-family;
}

ion-text {
  font-family: $font-family;
  font-size: $font-size-tiny;
  white-space: nowrap;

}

.image-cover {
  object-fit: cover;
  width: 100%;
  opacity: 0.6;
  max-height: 100%;
  position: absolute;
}

ion-app {
  --ion-background-color: $color-white !important;
}

